<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flattify</title>
</head>

<body>
  <link rel="stylesheet" href="css/flattify.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <header>
    <div id="flattify-logo">
      Flattify
    </div>
    <a id="download-canvas" class="download-button" target="_blank">Download</a>
    <a id="upload-icon" class="download-button" target="_blank">Updload icon</a>
  </header>
  <div id="container">
    <canvas id="canvas" width="500" height="500"></canvas>
    <div style="display:none;">
      <img id="source" src="/pics/twitter.png">
    </div>
    <div class="controls-container">
      <div class="component-title first">Shape</div>
      <hr>
      <button id="round-rect" class="shape"></button>
      <button id="circular" class="shape"></button>
      <button id="rect" class="shape"></button>
      <div class="component-title">Color</div>
      <hr>
      <input type="color" id="colorPicker" value="#00B8FF">
      <input type="text" value="#00B8FF" id="backgroundColorValue">
      <div class="component-title">Shadows</div>
      <hr>
      <button id="long-shadow" class="shape"></button>
      <button id="no-shadow" class="shape"></button>
    </div>
  </div>
</body>
<script src="js/flattify.js"></script>

</html>
