* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #FBFBFB;
}
a {
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
#flattify-logo {
  font-size: 30px;
  font-family: sans-serif;
  color: #1185FC;
  text-transform: uppercase;
}
#container {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
#canvas {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header {
  background-color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: block;
  border-bottom: 1px solid rgba(128, 128, 128, 0.22);
  height: 80px;
}
.download-button {
  font-size: 20px;
  padding: 11px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  font-family: sans-serif;
  float: right;
  border: none;
  margin-top: -38px;
  border-radius: 5px;
  margin-left: 10px;
}
#upload-icon {
  color: #0086CD;
  border: 1px solid #0086CD;
  background-color: transparent;
}
#upload-icon:hover {
  color: white;
  border: 1px solid #0086CD;
  background-color: #0086CD;
}
.controls-container {
  float: right;
  text-align: right;
}
.shape {
  height: 70px;
  width: 70px;
  border: 4px solid #0086CD;
  background: rgba(0, 184, 255, 0.24);
  cursor: pointer;
  margin-left: 20px;
}
#circular {
  border-radius: 50%;
}
#round-rect {
  border-radius: 13%;
}
.component-title {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.component-title.first {
  margin-top: 0px;
}
#long-shadow {
  background-image: url("/pics/shdowfy.png");
  background-size: 100%;
  border: 0px;
  border: none;
  border-radius: 10px;
}
#long-shadow-left {
  background-image: url("/pics/shadowfyleft.png");
  background-size: 100%;
  border: 0px;
  border: none;
  border-radius: 10px;
}
#half-shadow {
  background-image: url("/pics/half-shadow.png");
  background-size: 100%;
  border: 0px;
  border: none;
  border-radius: 10px;
}
#no-shadow {
  background-image: url("/pics/no-shadow.png");
  background-color: transparent;
  border-color: black;
  background-size: 100%;
}
#main-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 112%;
}
#header-title, #header-description {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
#header-title{
  font-size: 80px;
}

#upload-icon-header {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  border: 2px solid white;
  padding: 11px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  border-radius: 5px;
  display: inline-block;
}
input[type=file] {
  background-color: transparent;
  color: white;
  width: 172px;
  border: none;
}
#upload-icon-header:hover {
  text-decoration: none;
}
#choose-from-list {
  background-color: white;
  color: #227DB7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-left: 30%;
  border: 2px solid white;
  padding: 11px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 200px;
  left: 48%;
}
.nav-menu-balls {
  position: absolute;
  top: -39px;
  left: 10px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #0086CD;
}
.nav-menu-balls-bottom {
  top: 181px;
  left: 10px;
}
#nav-menu {
  width: 110px;
  height: 231px;
  margin-bottom: 200px;
  position: absolute;
  background-color: #0086CD;
  top: 10px;
  left: 10px;
}
.nav-elment {
  margin-left: 40px;
  margin-bottom: 20px;
  height: 30px;
}
.nav-menu-title-1, .nav-menu-title-2, .nav-menu-title-3, .nav-menu-title-4, .nav-menu-title-5 {
  position: absolute;
  left: 125px;
  font-family: 'Open Sans', sans-serif;
  color: #0086CD;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-menu-title-5 {
  top: 212px;
}
.nav-menu-title-2 {
  top: 68px;
}
.nav-menu-title-1 {
  top: 113px;
}
.nav-menu-title-4 {
  top: 162px;
}
.selected {
  border-bottom: 2px solid #48B5EF;
}
.color-container {
  float: right;
  text-align: right;
  margin-top: -50px;
}
.color-picker-label {
  position: initial;
  text-transform: none;
  font-size: 23px;
  margin-bottom: 50px;
}
.input-group {
  width: 210px;
  margin-top: 10px;
  float: right;
  margin-bottom: 30px;
}
.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}
.colorpicker-2x .colorpicker-hue, .colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}
.colorpicker-2x .colorpicker-color, .colorpicker-2x .colorpicker-color div {
  height: 30px;
}
.shadow-container {
  position: absolute;
  right: 40px;
}
.color-picker-label {
  margin-right: 15px;
}
.tools-container {
  background-color: rgba(241, 241, 241, 0.28);
  padding: 20px;
  width: 30%;
  margin-right: -50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  max-width: 328px;
}
.tools-container hr {
  width: 100%;
}
.shapes-container {
  float: right;
  margin-bottom: 50px;
}
.canvas-container {
  background-image: url("/pics/transparent.png");
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-size: 100%;
  width: 600px;
  height: 450px;
  text-align: center;
  position: absolute;
  left: 20%;
  top: -24px;
}
#preview-icons-container {
  border-top: 35px solid #EAEA88;
  display: block;
  width: 100%;
  background-color: #70787D;
  margin-top: 248px;
  padding: 24px;
  text-align: center;
}
#preview-icons-container img {
  opacity: 0.7;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  height: 30px;
  cursor: pointer;
}
#preview-icons-container img:hover {
  opacity: 1;
}
#header {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background-image: url("/pics/background.png");
  background-size: 100%;
  position: absolute;
  /*-webkit-box-shadow: -4px -8px 11px 14px #777;
  -moz-box-shadow: -4px -8px 11px 14px #777;
  box-shadow: -4px -8px 11px 14px #777;*/
}
.arrow-down {
  position: absolute;
  left: 47%;
  padding: 10px;
  cursor: pointer;
  bottom: 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  display: block;
  background: #fff;
  border-radius: 50%;
  transition: all .2s ease;
  margin-left: -1.5rem;
  opacity: .7;
}
.arrow-down:hover{
  opacity: 1;
}
.arrow-down img {
  width: 75px;
  opacity: .3;
}

#icons-container {
  position: absolute;
  top: 120%;
  width: 90%;
  margin-left: 5%;
}

#icons-container i{
  margin: 15px;
  width: 36px;
  color: grey;
}

#icons-container i:hover{
  color: black;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
