* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebf0;
}

header {
  background: #438de0;
  padding: 10px 15px;
  display: block;
  width: 100%;
  height: 100px;
  color: #fff;
  position: relative;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
}

header #logo {
  font-size: 25px;
  float: left;
  margin-left: 30px;
  margin-top: 25px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}

header #description {
  line-height: 37px;
  font-size: 32px;
  margin-left: 100px;
  margin-top: 3px;
  display: inline-block;
}

header #google-takriz {
  width: 10px;
}

#social-sharing {
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

#github-button {
  display: inline-block;
  margin-left: 20px;
}

#version {
  position: absolute;
  top: 68px;
  font-weight: bold;
  left: 400px;
  font-size: 10px;
  text-transform: initial;
}

.main-description{
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-left: 40px;
  margin-top: 25px;
  font-size: 18px;
}

.description-header{
  display: inline-block;
  font-weight: 700;
}

.description-body{
  margin-top: 20px;
  font-weight: 300;
}

.app-container{
  background-color: white;
  width: 101%;
  margin-left: -2%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  margin-top: 30px;
  padding: 30px;
  min-height: 410px;
  display: block;
}

.upload-container{
  border: 2px solid #dad9d9;
  display: inline-block;
  width: 500px;
  height: 250px;
  text-align: center;
  position: relative;
}

.button-blue:hover{
  background-color: #3874b7;
}

.button-blue{
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 88px;
  background-color: #438de0;
  width: 300px;
  padding: 20px;
  left: 20%;
  box-shadow: 4px 4px 6px rgba(27,95,191,0.3);
}

.choose-from-list-container{
  text-align: left;;
  float: right;
  display: inline-block;
}
#canvas {

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.download-button {
  font-size: 20px;
  padding: 11px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  font-family: sans-serif;
  float: right;
  border: none;
  margin-top: -38px;
  border-radius: 5px;
  margin-left: 10px;
}
#upload-icon {
  color: #0086CD;
  border: 1px solid #0086CD;
  background-color: transparent;
}
#upload-icon:hover {
  color: white;
  border: 1px solid #0086CD;
  background-color: #0086CD;
}
.controls-container {
  float: right;
  text-align: right;
}
.shape {
  height: 70px;
  width: 70px;
  border: 4px solid #0086CD;
  background: rgba(0, 184, 255, 0.24);
  cursor: pointer;
  margin-left: 20px;
}
#circular {
  border-radius: 50%;
}
#round-rect {
  border-radius: 13%;
}
.component-title {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.component-title.first {
  margin-top: 0px;
}
#long-shadow {
  background-image: url("/pics/shdowfy.png");
  background-size: 100%;
  border: 0px;
  border: none;
  border-radius: 10px;
}
#long-shadow-left {
  background-image: url("/pics/shadowfyleft.png");
  background-size: 100%;
  border: 0px;
  border: none;
  border-radius: 10px;
}
#half-shadow {
  background-image: url("/pics/half-shadow.png");
  background-size: 100%;
  border: 0px;
  border: none;
  border-radius: 10px;
}
#no-shadow {
  background-image: url("/pics/no-shadow.png");
  background-color: transparent;
  border-color: black;
  background-size: 100%;
}
#upload-icon-header {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  border: 2px solid white;
  padding: 11px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  border-radius: 5px;
  display: inline-block;
}
input[type=file] {
  background-color: transparent;
  color: white;
  width: 172px;
  border: none;
}
#upload-icon-header:hover {
  text-decoration: none;
}
#choose-from-list {
  background-color: white;
  color: #227DB7;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-left: 30%;
  border: 2px solid white;
  padding: 11px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 200px;
  left: 48%;
}
.nav-menu-balls {
  position: absolute;
  top: -39px;
  left: 10px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #0086CD;
}
.nav-menu-balls-bottom {
  top: 181px;
  left: 10px;
}
#nav-menu {
  width: 110px;
  height: 231px;
  margin-bottom: 200px;
  position: absolute;
  background-color: #0086CD;
  top: 10px;
  left: 10px;
}
.nav-elment {
  margin-left: 40px;
  margin-bottom: 20px;
  height: 30px;
}
.nav-menu-title-1, .nav-menu-title-2, .nav-menu-title-3, .nav-menu-title-4, .nav-menu-title-5 {
  position: absolute;
  left: 125px;
  font-family: 'Open Sans', sans-serif;
  color: #0086CD;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-menu-title-5 {
  top: 212px;
}
.nav-menu-title-2 {
  top: 68px;
}
.nav-menu-title-1 {
  top: 113px;
}
.nav-menu-title-4 {
  top: 162px;
}
.selected {
  border-bottom: 2px solid #48B5EF;
}
.color-container {
  float: right;
  text-align: right;
}
.color-picker-label {
  position: initial;
  text-transform: none;
  font-size: 23px;
  margin-bottom: 50px;
}
.input-group {
  width: 210px;
  margin-top: 10px;
  float: right;
  margin-bottom: 30px;
}
.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}
.colorpicker-2x .colorpicker-hue, .colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}
.colorpicker-2x .colorpicker-color, .colorpicker-2x .colorpicker-color div {
  height: 30px;
}
.shadow-container {
  position: absolute;
  right: 40px;
}
.color-picker-label {
  margin-right: 15px;
}
.tools-container {
  padding: 20px;
  width: 30%;
  max-width: 396px;
  transform: scale(.9);
  margin-top: -80px;
  margin-right: -32px;
}
.tools-container hr {
  width: 100%;
}
.shapes-container {
  float: right;
  margin-bottom: 50px;
}
.canvas-container {
  background-image: url("/pics/transparent.png");
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-size: 100%;
  width: 600px;
  height: 450px;
  text-align: center;
  position: absolute;
  left: 50px;
  top: 26px;
}
#preview-icons-container {
  border-top: 35px solid #EAEA88;
  display: block;
  width: 100%;
  background-color: #70787D;
  margin-top: 248px;
  padding: 24px;
  text-align: center;
}
#preview-icons-container img {
  opacity: 0.7;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  height: 30px;
  cursor: pointer;
}
#preview-icons-container img:hover {
  opacity: 1;
}
.arrow-down {
  position: absolute;
  left: 47%;
  padding: 10px;
  cursor: pointer;
  bottom: 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  display: block;
  background: #fff;
  border-radius: 50%;
  transition: all .2s ease;
  margin-left: -1.5rem;
  opacity: .7;
}
.arrow-down:hover{
  opacity: 1;
}
.arrow-down img {
  width: 75px;
  opacity: .3;
}

#icons-container {
  position: absolute;
  top: 120%;
  width: 90%;
  margin-left: 5%;
}

#icons-container i{
  margin: 15px;
  width: 36px;
  color: grey;
}

#icons-container i:hover{
  color: black;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

#icon-header{
  padding-top: 10px;
}

#icon-content {
  width: 656px;
  text-align: left;
  margin-top: 20px;
  padding-top: 27px;
  padding-right: 20px;
  overflow: hidden;
  overflow-y: scroll;
  height: 329px;
  background-color: #f0f2f5;
  border: 2px solid #dad9d9;
}

#icon-content a{
  text-decoration: none;
  font-size: 8px;
  margin-left: 21px;
  width: 20px;
  height: 20px;
  color: grey;
  display: inline-block;
}

.search-header{
  float: right;
  padding-left: 30px;
  display: inline-block;
}

#icon-content a:hover{
  color: black;
}

.search-icon{
  position: absolute;
  right: 260px;
  color: #d2d2d2;
  top: 261px;
}

.dimension-step{
  display: inline-block;
  margin-top: -29px;
}

.dimension-step i{
  margin-left: 10px;
}

#container {
  position: relative;
  display: table;
}
